[submodule "files/dotfiles/.vim/bundle/ctrlp.vim"]
	path = files/dotfiles/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "files/dotfiles/.vim/bundle/dash.vim"]
	path = files/dotfiles/.vim/bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim
[submodule "files/dotfiles/.vim/bundle/rust.vim"]
	path = files/dotfiles/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "files/dotfiles/.vim/bundle/typescript-vim"]
	path = files/dotfiles/.vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "files/dotfiles/.vim/bundle/vim-airline"]
	path = files/dotfiles/.vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "files/dotfiles/.vim/bundle/vim-airline-themes"]
	path = files/dotfiles/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "files/dotfiles/.vim/bundle/vim-cargo"]
	path = files/dotfiles/.vim/bundle/vim-cargo
	url = https://github.com/timonv/vim-cargo
[submodule "files/dotfiles/.vim/bundle/vim-dispatch"]
	path = files/dotfiles/.vim/bundle/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule "files/dotfiles/.vim/bundle/vim-fireplace"]
	path = files/dotfiles/.vim/bundle/vim-fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "files/dotfiles/.vim/bundle/vim-fugitive"]
	path = files/dotfiles/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "files/dotfiles/.vim/bundle/vim-github-colorscheme"]
	path = files/dotfiles/.vim/bundle/vim-github-colorscheme
	url = https://github.com/endel/vim-github-colorscheme.git
[submodule "files/dotfiles/.vim/bundle/vim-gutentags"]
	path = files/dotfiles/.vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "files/dotfiles/.vim/bundle/vim-hashicorp-tools"]
	path = files/dotfiles/.vim/bundle/vim-hashicorp-tools
	url = https://github.com/hashivim/vim-hashicorp-tools
[submodule "files/dotfiles/.vim/bundle/vim-logstash"]
	path = files/dotfiles/.vim/bundle/vim-logstash
	url = https://github.com/robbles/logstash.vim
[submodule "files/dotfiles/.vim/bundle/vim-misc"]
	path = files/dotfiles/.vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "files/dotfiles/.vim/bundle/vim-nerdtree"]
	path = files/dotfiles/.vim/bundle/vim-nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "files/dotfiles/.vim/bundle/vim-node"]
	path = files/dotfiles/.vim/bundle/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "files/dotfiles/.vim/bundle/vim-pathogen"]
	path = files/dotfiles/.vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule "files/dotfiles/.vim/bundle/vim-polyglot"]
	path = files/dotfiles/.vim/bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "files/dotfiles/.vim/bundle/vim-projectionist"]
	path = files/dotfiles/.vim/bundle/vim-projectionist
	url = git@github.com:tpope/vim-projectionist.git
[submodule "files/dotfiles/.vim/bundle/vim-puppet"]
	path = files/dotfiles/.vim/bundle/vim-puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule "files/dotfiles/.vim/bundle/vim-sensible"]
	path = files/dotfiles/.vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "files/dotfiles/.vim/bundle/vim-session"]
	path = files/dotfiles/.vim/bundle/vim-session
	url = https://github.com/xolox/vim-session
[submodule "files/dotfiles/.vim/bundle/vim-syntastic"]
	path = files/dotfiles/.vim/bundle/vim-syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "files/dotfiles/.vim/bundle/vim-tagbar"]
	path = files/dotfiles/.vim/bundle/vim-tagbar
	url = git@github.com:majutsushi/tagbar
[submodule "files/dotfiles/.vim/bundle/vim-test"]
	path = files/dotfiles/.vim/bundle/vim-test
	url = https://github.com/janko-m/vim-test
[submodule "files/dotfiles/.vim/bundle/vim-toml"]
	path = files/dotfiles/.vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "files/dotfiles/.vim/bundle/vim-tomorrow-theme"]
	path = files/dotfiles/.vim/bundle/vim-tomorrow-theme
	url = git@github.com:chriskempson/vim-tomorrow-theme.git
[submodule "files/dotfiles/.vim/bundle/ansible-vim"]
	path = files/dotfiles/.vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule "files/dotfiles/.vim/bundle/vim-hdevtools"]
	path = files/dotfiles/.vim/bundle/vim-hdevtools
	url = https://github.com/bitc/vim-hdevtools
[submodule "files/dotfiles/.vim/bundle/lushtags"]
	path = files/dotfiles/.vim/bundle/lushtags
	url = https://github.com/bitc/lushtags
