<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CheckedIfBartender2LaunchedAtLogin</key>
	<true/>
	<key>FRFeedbackReporter.lastCrashCheckDate</key>
	<date>2018-09-20T19:28:54Z</date>
	<key>NSStatusItem Preferred Position EItem</key>
	<real>60000</real>
	<key>NSStatusItem Preferred Position HItem</key>
	<real>10000</real>
	<key>NSStatusItem Preferred Position HItem1</key>
	<real>10000</real>
	<key>NSStatusItem Preferred Position HItem2</key>
	<real>10000</real>
	<key>NSStatusItem Preferred Position HItem3</key>
	<real>10000</real>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>383</real>
	<key>NSStatusItem Preferred Position statusItem</key>
	<real>1</real>
	<key>NSStatusItem Visible Item-0</key>
	<true/>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>330 288 620 392 0 0 1280 777 </string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2018-11-03T19:24:17Z</date>
	<key>UpdateWelcomeMessageShowAgain</key>
	<true/>
	<key>appBartenderOrder</key>
	<array>
		<string>net.tunnelblick.tunnelblick</string>
		<string>AppleBluetoothExtra</string>
		<string>DisplaysExtra</string>
		<string>org.herf.Flux</string>
		<string>com.getdropbox.dropbox</string>
		<string>com.lightheadsw.Caffeine</string>
	</array>
	<key>appSettings</key>
	<dict>
		<key>AppleBluetoothExtra</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>popupFix</key>
			<false/>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>5</integer>
		</dict>
		<key>AppleVolumeExtra</key>
		<dict>
			<key>controlled</key>
			<integer>0</integer>
			<key>popupFix</key>
			<false/>
			<key>showForUpdates</key>
			<true/>
			<key>updateDisplayTime</key>
			<integer>5</integer>
		</dict>
		<key>DisplaysExtra</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>popupFix</key>
			<false/>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>5</integer>
		</dict>
		<key>Siri</key>
		<dict>
			<key>controlled</key>
			<integer>2</integer>
			<key>popupFix</key>
			<false/>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>5</integer>
		</dict>
		<key>com.docker.docker</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>searchName</key>
			<string>Docker</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>com.getdropbox.dropbox</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>popupFix</key>
			<false/>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>5</integer>
		</dict>
		<key>com.lightheadsw.Caffeine</key>
		<dict>
			<key>controlled</key>
			<integer>0</integer>
			<key>popupFix</key>
			<false/>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>5</integer>
		</dict>
		<key>net.tunnelblick.tunnelblick</key>
		<dict>
			<key>controlled</key>
			<integer>0</integer>
			<key>popupFix</key>
			<false/>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>5</integer>
		</dict>
		<key>org.herf.Flux</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>popupFix</key>
			<false/>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>b3UpdateHasTriedChangingName</key>
	<true/>
	<key>barLocationPercentage</key>
	<real>0.90859377384185791</real>
	<key>bartender.storedPositions</key>
	<dict>
		<key>com.agilebits.onepassword7-Item-0</key>
		<real>1004</real>
		<key>com.apple.Spotlight-Item-0</key>
		<real>64</real>
		<key>com.apple.locationmenu-Item-0</key>
		<real>298.2890625</real>
		<key>com.apple.systemuiserver-AirPortExtra</key>
		<real>353</real>
		<key>com.apple.systemuiserver-AppleBluetoothExtra</key>
		<real>399</real>
		<key>com.apple.systemuiserver-AppleClockExtra</key>
		<real>148</real>
		<key>com.apple.systemuiserver-AppleVolumeExtra</key>
		<real>272</real>
		<key>com.apple.systemuiserver-BatteryExtra</key>
		<real>247</real>
		<key>com.apple.systemuiserver-DisplaysExtra</key>
		<real>431</real>
		<key>com.cisco.Cisco-AnyConnect-Secure-Mobility-Client-Item-0</key>
		<real>453</real>
		<key>com.docker.docker-Item-0</key>
		<real>1082</real>
		<key>com.getdropbox.dropbox-Item-0</key>
		<real>1088</real>
		<key>com.getharvest.harvestx-Item-0</key>
		<real>1088</real>
		<key>com.housetrip.Trailer-Item-0</key>
		<real>1098</real>
		<key>com.housetrip.Trailer-Item-1</key>
		<real>1098</real>
		<key>com.lightheadsw.Caffeine-Item-0</key>
		<real>413</real>
		<key>org.herf.Flux-Item-0</key>
		<real>1090</real>
		<key>us.zoom.xos-Item-0</key>
		<real>2988</real>
	</dict>
	<key>insertGap</key>
	<true/>
	<key>license2</key>
	<string>GAWQE-FDADX-S6KED-GCFDP-38T6W-WKEEV-ET6EV-EMUYC-CUAL9-34JYL-LQ29P-5YVEE-QPQVD-3Q59H-RVCCT-A</string>
	<key>license2HoldersName</key>
	<string>Brian Gerstle</string>
	<key>menuBarPositions</key>
	<array>
		<string>SystemUIServer:205</string>
		<string>SystemUIServer:194</string>
		<string>SystemUIServer:184</string>
		<string>SystemUIServer:174</string>
		<string>SystemUIServer:64</string>
		<string>SystemUIServer:60</string>
		<string>SystemUIServer:80</string>
		<string>SystemUIServer:68</string>
		<string>SystemUIServer:76</string>
		<string>SystemUIServer:72</string>
		<string>SystemUIServer:57</string>
		<string>SystemUIServer:53</string>
		<string>com.agilebits.onepassword7</string>
		<string>com.getharvest.harvestx</string>
		<string>com.google.Chrome</string>
		<string>com.apple.ScriptMonitor</string>
		<string>com.apple.locationmenu</string>
		<string>net.tunnelblick.tunnelblick</string>
		<string>com.surteesstudios.Bartender</string>
		<string>com.getdropbox.dropbox</string>
		<string>2BUA8C4S2C.com.agilebits.onepassword-osx-helper</string>
		<string>org.herf.Flux</string>
		<string>com.lightheadsw.Caffeine</string>
		<string>AppleBluetoothExtra</string>
		<string>AirPortExtra</string>
		<string>DisplaysExtra</string>
		<string>AppleVolumeExtra</string>
		<string>BatteryExtra</string>
		<string>AppleClockExtra</string>
		<string>com.apple.Spotlight</string>
		<string>Siri</string>
		<string>NotificationCenter</string>
		<string>menuExtra.notificationcenter</string>
	</array>
	<key>showMenuBarIcon</key>
	<true/>
	<key>trialStart2</key>
	<date>2018-04-03T14:49:49Z</date>
	<key>trialStart3</key>
	<date>2018-06-23T22:36:21Z</date>
</dict>
</plist>
