<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<true/>
	<key>expose-group-apps</key>
	<false/>
	<key>largesize</key>
	<real>55</real>
	<key>last-messagetrace-stamp</key>
	<real>556656939.75106704</real>
	<key>loc</key>
	<string>en_US</string>
	<key>magnification</key>
	<true/>
	<key>mod-count</key>
	<integer>630</integer>
	<key>mru-spaces</key>
	<false/>
	<key>orientation</key>
	<string>right</string>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>1625773920</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va8wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA7AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zDQAAAAEBAABBcHAgU3RvcmUuYXBwAAAACAAA
				AAEGAAAEAAAAGAAAAAgAAAAEAwAAJAIAAAIAAAAIAAAA
				BAMAACcCAAACAAAACAAAAAEGAABAAAAAUAAAAAgAAAAA
				BAAAQb9DvmEAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAA
				AAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEA
				AE1hY2ludG9zaCBIRAgAAAAEAwAAAGBGZDoAAAAIAAAA
				AAQAAEG8R1vNAAAAJAAAAAEBAABFNUZCQTIyMS0zMDZB
				LTM0QTYtOTJEOS1DRDhGMEJGN0Q1MEUYAAAAAQIAAIEA
				AAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAA
				AAAAAAABBQAAoAAAAAECAAAwYjk3MmE0M2Y2ZGNiMTI4
				ZDM5ZDQyMWE3NmRkMDJhMTIyYmNmMmNhOzAwMDAwMDAw
				OzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMWE7Y29tLmFw
				cGxlLmFwcC1zYW5kYm94LnJlYWQ7MDE7MDEwMDAwMDQ7
				MDAwMDAwMDIwMDAwMDIyNzsvYXBwbGljYXRpb25zL2Fw
				cCBzdG9yZS5hcHAAqAAAAP7///8BAAAAAAAAAA0AAAAE
				EAAAMAAAAAAAAAAFEAAAYAAAAAAAAAAQEAAAgAAAAAAA
				AABAEAAAcAAAAAAAAAACIAAAMAEAAAAAAAAFIAAAoAAA
				AAAAAAAQIAAAsAAAAAAAAAARIAAA5AAAAAAAAAASIAAA
				xAAAAAAAAAATIAAA1AAAAAAAAAAgIAAAEAEAAAAAAAAw
				IAAAPAEAAAAAAACB8AAARAEAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.appstore</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/App%20Store.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>App Store</string>
				<key>file-mod-date</key>
				<integer>237910444110981</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>266622302110787</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1435851335</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va+ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA9AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zDAAAAAEBAABMb29rYmFjay5hcHAIAAAAAQYA
				AAQAAAAYAAAACAAAAAQDAABH25cBAAAAAAgAAAAEAwAA
				73wvAwAAAAAIAAAAAQYAADwAAABMAAAACAAAAAAEAABB
				v2VzkAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAAAAAAAAEFAAAIAAAAAQkAAGZpbGU6Ly8vDAAA
				AAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAA/Cc6AAAA
				CAAAAAAEAABBvEdbzQAAACQAAAABAQAARTVGQkEyMjEt
				MzA2QS0zNEE2LTkyRDktQ0Q4RjBCRjdENTBFGAAAAAEC
				AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
				AC8AAACrAAAAAQIAADk2Njc5YjQ0ZmU0YmQyNDM0YjQ5
				ZWRhMTMxOTQ4MGNiN2FiNTE5NTM7MDAwMDAwMDA7MDAw
				MDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUu
				YXBwLXNhbmRib3gucmVhZC13cml0ZTswMDAwMDAwMTsw
				MTAwMDAwNDswMDAwMDAwMDAzMmY3Y2VmOy9hcHBsaWNh
				dGlvbnMvbG9va2JhY2suYXBwAAC0AAAA/v///wEAAAAA
				AAAADgAAAAQQAAAsAAAAAAAAAAUQAABcAAAAAAAAABAQ
				AAB8AAAAAAAAAEAQAABsAAAAAAAAAAIgAAA0AQAAAAAA
				AAUgAACkAAAAAAAAABAgAAC0AAAAAAAAABEgAADoAAAA
				AAAAABIgAADIAAAAAAAAABMgAADYAAAAAAAAACAgAAAU
				AQAAAAAAADAgAACcAAAAAAAAAAHQAACcAAAAAAAAAIDw
				AABAAQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>io.lookback.Lookback</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Lookback.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Lookback</string>
				<key>file-mod-date</key>
				<integer>3588932350</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3588932350</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1625773924</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va+gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA/AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zEQAAAAEBAABHb29nbGUgQ2hyb21lLmFwcAAA
				AAgAAAABBgAABAAAABgAAAAIAAAABAMAACQCAAACAAAA
				CAAAAAQDAADQNgoAAAAAAAgAAAABBgAARAAAAFQAAAAI
				AAAAAAQAAEG8dWjoAAAAGAAAAAECAAACAAAAAAAAAA8A
				AAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAABCQAAZmls
				ZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
				AGBGZDoAAAAIAAAAAAQAAEG8R1vNAAAAJAAAAAEBAABF
				NUZCQTIyMS0zMDZBLTM0QTYtOTJEOS1DRDhGMEJGN0Q1
				MEUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
				AAEAAAABAQAALwAAAKoAAAABAgAAYmQ3ZTEwZjE2MzE4
				YjNmMjkwODRjY2I5M2QzMDFmYzEzODZlNjdhNzswMDAw
				MDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2Nv
				bS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAx
				OzAxMDAwMDA0OzAwMDAwMDAwMDAwYTM2ZDA7L2FwcGxp
				Y2F0aW9ucy9nb29nbGUgY2hyb21lLmFwcAAAALQAAAD+
				////AQAAAAAAAAAOAAAABBAAADQAAAAAAAAABRAAAGQA
				AAAAAAAAEBAAAIQAAAAAAAAAQBAAAHQAAAAAAAAAAiAA
				ADwBAAAAAAAABSAAAKwAAAAAAAAAECAAALwAAAAAAAAA
				ESAAAPAAAAAAAAAAEiAAANAAAAAAAAAAEyAAAOAAAAAA
				AAAAICAAABwBAAAAAAAAMCAAAKQAAAAAAAAAAdAAAKQA
				AAAAAAAAgPAAAEgBAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Google%20Chrome.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Chrome</string>
				<key>file-mod-date</key>
				<integer>3616526737</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>266622302110787</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1113490747</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va+ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAIAAAwAAAABAQAAQXBwbGlj
				YXRpb25zEQAAAAEBAABHSVBIWSBDQVBUVVJFLmFwcAAA
				AAgAAAABBgAABAAAABgAAAAIAAAABAMAAEfblwEAAAAA
				CAAAAAQDAADv9gcDAAAAAAgAAAABBgAARAAAAFQAAAAI
				AAAAAAQAAEG/VLMBAAAAGAAAAAECAAACAAAAAAAAAA8A
				AAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAA
				AAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAA/Cc6AAAA
				CAAAAAAEAABBvEdbzQAAACQAAAABAQAARTVGQkEyMjEt
				MzA2QS0zNEE2LTkyRDktQ0Q4RjBCRjdENTBFGAAAAAEC
				AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
				AC8AAAAAAAAAAQUAALAAAAABAgAAOGE0ZTU1NDgyNDQ3
				NmNkYmEyNGFmZmI4MzQ0ZDI5NGIyYzE4ZmYyOTswMDAw
				MDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2Nv
				bS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAw
				MDAwMDAxOzAxMDAwMDA0OzAwMDAwMDAwMDMwN2Y2ZWY7
				L2FwcGxpY2F0aW9ucy9naXBoeSBjYXB0dXJlLmFwcACo
				AAAA/v///wEAAAAAAAAADQAAAAQQAAA0AAAAAAAAAAUQ
				AABkAAAAAAAAABAQAACEAAAAAAAAAEAQAAB0AAAAAAAA
				AAIgAAA0AQAAAAAAAAUgAACkAAAAAAAAABAgAAC0AAAA
				AAAAABEgAADoAAAAAAAAABIgAADIAAAAAAAAABMgAADY
				AAAAAAAAACAgAAAUAQAAAAAAADAgAABAAQAAAAAAAIDw
				AABIAQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.fasthatchapps.gifgrabberosx</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/GIPHY%20CAPTURE.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>GIPHY CAPTURE</string>
				<key>file-mod-date</key>
				<integer>3586982334</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3591882031</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2174382621</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va9QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA9AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zDwAAAAEBAAAxUGFzc3dvcmQgNy5hcHAACAAA
				AAEGAAAEAAAAGAAAAAgAAAAEAwAAJAIAAAIAAAAIAAAA
				BAMAAPoeWwECAAAACAAAAAEGAABAAAAAUAAAAAgAAAAA
				BAAAQcB0iUWAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAA
				AAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEA
				AE1hY2ludG9zaCBIRAgAAAAEAwAAAGBGZDoAAAAIAAAA
				AAQAAEG8R1vNAAAAJAAAAAEBAABFNUZCQTIyMS0zMDZB
				LTM0QTYtOTJEOS1DRDhGMEJGN0Q1MEUYAAAAAQIAAIEA
				AAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAA
				AAAAAAABBQAAqAAAAAECAAAxMWNiZDVhYjBjZmYzMjA2
				NGI1MDllMmJkNzViNDk3YmE5OWRlNjk1OzAwMDAwMDAw
				OzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFw
				cGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDE7MDEw
				MDAwMDQ7MDAwMDAwMDIwMTViMWVmYTsvYXBwbGljYXRp
				b25zLzFwYXNzd29yZCA3LmFwcACoAAAA/v///wEAAAAA
				AAAADQAAAAQQAAAwAAAAAAAAAAUQAABgAAAAAAAAABAQ
				AACAAAAAAAAAAEAQAABwAAAAAAAAAAIgAAAwAQAAAAAA
				AAUgAACgAAAAAAAAABAgAACwAAAAAAAAABEgAADkAAAA
				AAAAABIgAADEAAAAAAAAABMgAADUAAAAAAAAACAgAAAQ
				AQAAAAAAADAgAAA8AQAAAAAAAIDwAABEAQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.agilebits.onepassword7</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/1Password%207.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>1Password 7</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>472437582</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va8wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA7AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zCQAAAAEBAABTbGFjay5hcHAAAAAIAAAAAQYA
				AAQAAAAYAAAACAAAAAQDAAAkAgAAAgAAAAgAAAAEAwAA
				6oIrAQIAAAAIAAAAAQYAADwAAABMAAAACAAAAAAEAABB
				wF8NAYAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
				aW50b3NoIEhECAAAAAQDAAAAYEZkOgAAAAgAAAAABAAA
				QbxHW80AAAAkAAAAAQEAAEU1RkJBMjIxLTMwNkEtMzRB
				Ni05MkQ5LUNEOEYwQkY3RDUwRRgAAAABAgAAgQAAAAEA
				AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
				AAEFAACiAAAAAQIAADA3MTg5Y2E0ZWMxZDBjNGRmZDc0
				MDQ4ZWFmOTkwMTkxOGQyZGVlZjc7MDAwMDAwMDA7MDAw
				MDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUu
				YXBwLXNhbmRib3gucmVhZC13cml0ZTswMTswMTAwMDAw
				NjswMDAwMDAwMjAxMmI4MmVhOy9hcHBsaWNhdGlvbnMv
				c2xhY2suYXBwAAAAqAAAAP7///8BAAAAAAAAAA0AAAAE
				EAAALAAAAAAAAAAFEAAAXAAAAAAAAAAQEAAAfAAAAAAA
				AABAEAAAbAAAAAAAAAACIAAALAEAAAAAAAAFIAAAnAAA
				AAAAAAAQIAAArAAAAAAAAAARIAAA4AAAAAAAAAASIAAA
				wAAAAAAAAAATIAAA0AAAAAAAAAAgIAAADAEAAAAAAAAw
				IAAAOAEAAAAAAACA8AAAQAEAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.tinyspeck.slackmacgap</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Slack.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Slack</string>
				<key>file-mod-date</key>
				<integer>165218118720192</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>239619839497471</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1917690094</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va8QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAwAIAAAUAAAABAQAAVXNlcnMA
				AAAMAAAAAQEAAGJyaWFuZ2Vyc3RsZQwAAAABAQAAQXBw
				bGljYXRpb25zFQAAAAEBAABDaHJvbWUgQXBwcy5sb2Nh
				bGl6ZWQAAAAMAAAAAQEAAGFwcF9saXN0LmFwcBQAAAAB
				BgAABAAAABQAAAAoAAAAPAAAAFwAAAAIAAAABAMAAKMs
				BgAAAAAACAAAAAQDAAABYwkAAAAAAAgAAAAEAwAAWkAK
				AAAAAAAIAAAABAMAAFxACgAAAAAACAAAAAQDAAD5dlIA
				AAAAABQAAAABBgAAjAAAAJwAAACsAAAAvAAAAMwAAAAI
				AAAAAAQAAEG8lxyFAAAAGAAAAAECAAACAAAAAAAAAA8A
				AAAAAAAAAAAAAAAAAAAIAAAABAMAAAMAAAAAAAAABAAA
				AAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
				TWFjaW50b3NoIEhECAAAAAQDAAAAYEZkOgAAAAgAAAAA
				BAAAQbxHW80AAAAkAAAAAQEAAEU1RkJBMjIxLTMwNkEt
				MzRBNi05MkQ5LUNEOEYwQkY3RDUwRRgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAADOAAAAAQIAADNlNzkxZjE0MzY4NWMxZTNh
				MjA2MjRkNTRiZTAwYmJhNGZiOTEzYTg7MDAwMDAwMDA7
				MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBw
				bGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTswMTswMTAw
				MDAwNjswMDAwMDAwMDAwNTI3NmY5Oy91c2Vycy9icmlh
				bmdlcnN0bGUvYXBwbGljYXRpb25zL2Nocm9tZSBhcHBz
				LmxvY2FsaXplZC9hcHBfbGlzdC5hcHAAAADMAAAA/v//
				/wEAAAAAAAAAEAAAAAQQAABwAAAAAAAAAAUQAADcAAAA
				AAAAABAQAAAIAQAAAAAAAEAQAAD4AAAAAAAAAAIgAADU
				AQAAAAAAAAUgAABEAQAAAAAAABAgAABUAQAAAAAAABEg
				AACIAQAAAAAAABIgAABoAQAAAAAAABMgAAB4AQAAAAAA
				ACAgAAC0AQAAAAAAADAgAADgAQAAAAAAAAHAAAAoAQAA
				AAAAABHAAAAUAAAAAAAAABLAAAA4AQAAAAAAAIDwAADo
				AQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome.app.Default-app_list</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/briangerstle/Applications/Chrome%20Apps.localized/app_list.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Chrome App Launcher</string>
				<key>file-mod-date</key>
				<integer>3540817285</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3582627315</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1625773909</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va8QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA5AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zCQAAAAEBAABOb3Rlcy5hcHAAAAAIAAAAAQYA
				AAQAAAAYAAAACAAAAAQDAAAkAgAAAgAAAAgAAAAEAwAA
				sKAAAAIAAAAIAAAAAQYAADwAAABMAAAACAAAAAAEAABB
				vzB1tQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
				aW50b3NoIEhECAAAAAQDAAAAYEZkOgAAAAgAAAAABAAA
				QbxHW80AAAAkAAAAAQEAAEU1RkJBMjIxLTMwNkEtMzRB
				Ni05MkQ5LUNEOEYwQkY3RDUwRRgAAAABAgAAgQAAAAEA
				AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
				AAEFAACcAAAAAQIAADEwY2QzYWQ4MGIyNWQ3MDU2NDM2
				ZmJlNmFjMTgwYWYwZTFhNGJkMDA7MDAwMDAwMDA7MDAw
				MDAwMDA7MDAwMDAwMDAwMDAwMDAxYTtjb20uYXBwbGUu
				YXBwLXNhbmRib3gucmVhZDswMTswMTAwMDAwNDswMDAw
				MDAwMjAwMDBhMGIwOy9hcHBsaWNhdGlvbnMvbm90ZXMu
				YXBwAKgAAAD+////AQAAAAAAAAANAAAABBAAACwAAAAA
				AAAABRAAAFwAAAAAAAAAEBAAAHwAAAAAAAAAQBAAAGwA
				AAAAAAAAAiAAACwBAAAAAAAABSAAAJwAAAAAAAAAECAA
				AKwAAAAAAAAAESAAAOAAAAAAAAAAEiAAAMAAAAAAAAAA
				EyAAANAAAAAAAAAAICAAAAwBAAAAAAAAMCAAADgBAAAA
				AAAAgfAAAEABAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Notes</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Notes.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Notes</string>
				<key>file-mod-date</key>
				<integer>239125919855749</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>19833479657132</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1625773910</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va8wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA7AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zDQAAAAEBAABSZW1pbmRlcnMuYXBwAAAACAAA
				AAEGAAAEAAAAGAAAAAgAAAAEAwAAJAIAAAIAAAAIAAAA
				BAMAAN8KAQACAAAACAAAAAEGAABAAAAAUAAAAAgAAAAA
				BAAAQb8pozoAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAA
				AAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEA
				AE1hY2ludG9zaCBIRAgAAAAEAwAAAGBGZDoAAAAIAAAA
				AAQAAEG8R1vNAAAAJAAAAAEBAABFNUZCQTIyMS0zMDZB
				LTM0QTYtOTJEOS1DRDhGMEJGN0Q1MEUYAAAAAQIAAIEA
				AAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAA
				AAAAAAABBQAAoAAAAAECAABiYTVjZmRhZGVjMzNiNGNh
				NjlkMzUwNzUwM2IzNjhmNWZkYjFjMjdiOzAwMDAwMDAw
				OzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMWE7Y29tLmFw
				cGxlLmFwcC1zYW5kYm94LnJlYWQ7MDE7MDEwMDAwMDY7
				MDAwMDAwMDIwMDAxMGFkZjsvYXBwbGljYXRpb25zL3Jl
				bWluZGVycy5hcHAAqAAAAP7///8BAAAAAAAAAA0AAAAE
				EAAAMAAAAAAAAAAFEAAAYAAAAAAAAAAQEAAAgAAAAAAA
				AABAEAAAcAAAAAAAAAACIAAAMAEAAAAAAAAFIAAAoAAA
				AAAAAAAQIAAAsAAAAAAAAAARIAAA5AAAAAAAAAASIAAA
				xAAAAAAAAAATIAAA1AAAAAAAAAAgIAAAEAEAAAAAAAAw
				IAAAPAEAAAAAAACB8AAARAEAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.reminders</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Reminders.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Reminders</string>
				<key>file-mod-date</key>
				<integer>3560306827</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>3561734122</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1625773913</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va8gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA6AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zDAAAAAEBAABNZXNzYWdlcy5hcHAIAAAAAQYA
				AAQAAAAYAAAACAAAAAQDAAAkAgAAAgAAAAgAAAAEAwAA
				E5AAAAIAAAAIAAAAAQYAADwAAABMAAAACAAAAAAEAABB
				v5GfTwAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
				aW50b3NoIEhECAAAAAQDAAAAYEZkOgAAAAgAAAAABAAA
				QbxHW80AAAAkAAAAAQEAAEU1RkJBMjIxLTMwNkEtMzRB
				Ni05MkQ5LUNEOEYwQkY3RDUwRRgAAAABAgAAgQAAAAEA
				AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
				AAEFAACfAAAAAQIAAGM0ZWI1Njg1MDdlZTcwODQwMjU0
				NTE0MTYwMGE4NjY5NjM1NGViMmY7MDAwMDAwMDA7MDAw
				MDAwMDA7MDAwMDAwMDAwMDAwMDAxYTtjb20uYXBwbGUu
				YXBwLXNhbmRib3gucmVhZDswMTswMTAwMDAwNjswMDAw
				MDAwMjAwMDA5MDEzOy9hcHBsaWNhdGlvbnMvbWVzc2Fn
				ZXMuYXBwAACoAAAA/v///wEAAAAAAAAADQAAAAQQAAAs
				AAAAAAAAAAUQAABcAAAAAAAAABAQAAB8AAAAAAAAAEAQ
				AABsAAAAAAAAAAIgAAAsAQAAAAAAAAUgAACcAAAAAAAA
				ABAgAACsAAAAAAAAABEgAADgAAAAAAAAABIgAADAAAAA
				AAAAABMgAADQAAAAAAAAACAgAAAMAQAAAAAAADAgAAA4
				AQAAAAAAAIHwAABAAQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.iChat</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Messages.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Messages</string>
				<key>file-mod-date</key>
				<integer>180353583471819</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>7249223481187</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>748612463</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va8wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA7AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zCQAAAAEBAABYY29kZS5hcHAAAAAIAAAAAQYA
				AAQAAAAYAAAACAAAAAQDAAAkAgAAAgAAAAgAAAAEAwAA
				fLI8AQIAAAAIAAAAAQYAADwAAABMAAAACAAAAAAEAABB
				wGMIIgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
				aW50b3NoIEhECAAAAAQDAAAAYEZkOgAAAAgAAAAABAAA
				QbxHW80AAAAkAAAAAQEAAEU1RkJBMjIxLTMwNkEtMzRB
				Ni05MkQ5LUNEOEYwQkY3RDUwRRgAAAABAgAAgQAAAAEA
				AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
				AAEFAACiAAAAAQIAAGQyN2VjMDE3NzgyOTVmZThiYjc3
				ZmY1Yjk3YmRlMzZhY2RhMWMwZGU7MDAwMDAwMDA7MDAw
				MDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUu
				YXBwLXNhbmRib3gucmVhZC13cml0ZTswMTswMTAwMDAw
				NDswMDAwMDAwMjAxM2NiMjdjOy9hcHBsaWNhdGlvbnMv
				eGNvZGUuYXBwAAAAqAAAAP7///8BAAAAAAAAAA0AAAAE
				EAAALAAAAAAAAAAFEAAAXAAAAAAAAAAQEAAAfAAAAAAA
				AABAEAAAbAAAAAAAAAACIAAALAEAAAAAAAAFIAAAnAAA
				AAAAAAAQIAAArAAAAAAAAAARIAAA4AAAAAAAAAASIAAA
				wAAAAAAAAAATIAAA0AAAAAAAAAAgIAAADAEAAAAAAAAw
				IAAAOAEAAAAAAACA8AAAQAEAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.dt.Xcode</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Xcode.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Xcode</string>
				<key>file-mod-date</key>
				<integer>109482328501891</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>19833479657132</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>748612464</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va8wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA7AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zCQAAAAEBAABpVGVybS5hcHAAAAAIAAAAAQYA
				AAQAAAAYAAAACAAAAAQDAAAkAgAAAgAAAAgAAAAEAwAA
				pgVmAQIAAAAIAAAAAQYAADwAAABMAAAACAAAAAAEAABB
				wH0qgwAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
				aW50b3NoIEhECAAAAAQDAAAAYEZkOgAAAAgAAAAABAAA
				QbxHW80AAAAkAAAAAQEAAEU1RkJBMjIxLTMwNkEtMzRB
				Ni05MkQ5LUNEOEYwQkY3RDUwRRgAAAABAgAAgQAAAAEA
				AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
				AAEFAACiAAAAAQIAADk2ODU3ZjljMDc3ZjRlZjg2NDc4
				MDIwNmZjNjI1MzQ2NmViNzg1NGU7MDAwMDAwMDA7MDAw
				MDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUu
				YXBwLXNhbmRib3gucmVhZC13cml0ZTswMTswMTAwMDAw
				NDswMDAwMDAwMjAxNjYwNWE2Oy9hcHBsaWNhdGlvbnMv
				aXRlcm0uYXBwAAAAqAAAAP7///8BAAAAAAAAAA0AAAAE
				EAAALAAAAAAAAAAFEAAAXAAAAAAAAAAQEAAAfAAAAAAA
				AABAEAAAbAAAAAAAAAACIAAALAEAAAAAAAAFIAAAnAAA
				AAAAAAAQIAAArAAAAAAAAAARIAAA4AAAAAAAAAASIAAA
				wAAAAAAAAAATIAAA0AAAAAAAAAAgIAAADAEAAAAAAAAw
				IAAAOAEAAAAAAACA8AAAQAEAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.googlecode.iterm2</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/iTerm.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>iTerm</string>
				<key>file-mod-date</key>
				<integer>262125469725302</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>19833479657132</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3929408572</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va8gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA6AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zCgAAAAEBAABpVHVuZXMuYXBwAAAIAAAAAQYA
				AAQAAAAYAAAACAAAAAQDAAAkAgAAAgAAAAgAAAAEAwAA
				UPweAQIAAAAIAAAAAQYAADwAAABMAAAACAAAAAAEAABB
				wFqYPoAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
				aW50b3NoIEhECAAAAAQDAAAAYEZkOgAAAAgAAAAABAAA
				QbxHW80AAAAkAAAAAQEAAEU1RkJBMjIxLTMwNkEtMzRB
				Ni05MkQ5LUNEOEYwQkY3RDUwRRgAAAABAgAAgQAAAAEA
				AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
				AAEFAACdAAAAAQIAADhmYTlmZGZhZjcwMzFiNzNiNzgz
				NWE3ZmM1Zjg2OTcyNWU5MzI0ZjQ7MDAwMDAwMDA7MDAw
				MDAwMDA7MDAwMDAwMDAwMDAwMDAxYTtjb20uYXBwbGUu
				YXBwLXNhbmRib3gucmVhZDswMTswMTAwMDAwNjswMDAw
				MDAwMjAxMWVmYzUwOy9hcHBsaWNhdGlvbnMvaXR1bmVz
				LmFwcAAAAACoAAAA/v///wEAAAAAAAAADQAAAAQQAAAs
				AAAAAAAAAAUQAABcAAAAAAAAABAQAAB8AAAAAAAAAEAQ
				AABsAAAAAAAAAAIgAAAsAQAAAAAAAAUgAACcAAAAAAAA
				ABAgAACsAAAAAAAAABEgAADgAAAAAAAAABIgAADAAAAA
				AAAAABMgAADQAAAAAAAAACAgAAAMAQAAAAAAADAgAAA4
				AQAAAAAAAIHwAABAAQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.iTunes</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/iTunes.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>iTunes</string>
				<key>file-mod-date</key>
				<integer>93947430163530</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>234753639329117</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2839400274</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va8wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA7AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zCwAAAAEBAABTcG90aWZ5LmFwcAAIAAAAAQYA
				AAQAAAAYAAAACAAAAAQDAAAkAgAAAgAAAAgAAAAEAwAA
				l2ogAQIAAAAIAAAAAQYAADwAAABMAAAACAAAAAAEAABB
				vWJdkAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
				aW50b3NoIEhECAAAAAQDAAAAYEZkOgAAAAgAAAAABAAA
				QbxHW80AAAAkAAAAAQEAAEU1RkJBMjIxLTMwNkEtMzRB
				Ni05MkQ5LUNEOEYwQkY3RDUwRRgAAAABAgAAgQAAAAEA
				AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
				AAEFAACkAAAAAQIAAGRiZTM2OGE2NTdjNjllMDA2YzYy
				NWYwNjNjYzg0ZTRiNDc5MWRmOTY7MDAwMDAwMDA7MDAw
				MDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUu
				YXBwLXNhbmRib3gucmVhZC13cml0ZTswMTswMTAwMDAw
				NjswMDAwMDAwMjAxMjA2YTk3Oy9hcHBsaWNhdGlvbnMv
				c3BvdGlmeS5hcHAAqAAAAP7///8BAAAAAAAAAA0AAAAE
				EAAALAAAAAAAAAAFEAAAXAAAAAAAAAAQEAAAfAAAAAAA
				AABAEAAAbAAAAAAAAAACIAAALAEAAAAAAAAFIAAAnAAA
				AAAAAAAQIAAArAAAAAAAAAARIAAA4AAAAAAAAAASIAAA
				wAAAAAAAAAATIAAA0AAAAAAAAAAgIAAADAEAAAAAAAAw
				IAAAOAEAAAAAAACA8AAAQAEAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.spotify.client</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Spotify.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Spotify</string>
				<key>file-mod-date</key>
				<integer>138469059892858</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>250645016600058</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1625773919</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va8gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA6AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zCgAAAAEBAABpQm9va3MuYXBwAAAIAAAAAQYA
				AAQAAAAYAAAACAAAAAQDAAAkAgAAAgAAAAgAAAAEAwAA
				cKUBAAIAAAAIAAAAAQYAADwAAABMAAAACAAAAAAEAABB
				v4L3XgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
				aW50b3NoIEhECAAAAAQDAAAAYEZkOgAAAAgAAAAABAAA
				QbxHW80AAAAkAAAAAQEAAEU1RkJBMjIxLTMwNkEtMzRB
				Ni05MkQ5LUNEOEYwQkY3RDUwRRgAAAABAgAAgQAAAAEA
				AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
				AAEFAACdAAAAAQIAAGM5MTFhNTU5YjU0NmMzOTgyN2Fl
				ODI2MWRmZDdkYWQ1MmIxOTUwMzE7MDAwMDAwMDA7MDAw
				MDAwMDA7MDAwMDAwMDAwMDAwMDAxYTtjb20uYXBwbGUu
				YXBwLXNhbmRib3gucmVhZDswMTswMTAwMDAwNjswMDAw
				MDAwMjAwMDFhNTcwOy9hcHBsaWNhdGlvbnMvaWJvb2tz
				LmFwcAAAAACoAAAA/v///wEAAAAAAAAADQAAAAQQAAAs
				AAAAAAAAAAUQAABcAAAAAAAAABAQAAB8AAAAAAAAAEAQ
				AABsAAAAAAAAAAIgAAAsAQAAAAAAAAUgAACcAAAAAAAA
				ABAgAACsAAAAAAAAABEgAADgAAAAAAAAABIgAADAAAAA
				AAAAABMgAADQAAAAAAAAACAgAAAMAQAAAAAAADAgAAA4
				AQAAAAAAAIHwAABAAQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.iBooksX</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/iBooks.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>iBooks</string>
				<key>file-mod-date</key>
				<integer>95068413736410</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>250645016600058</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1625773926</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va+ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA9AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zDQAAAAEBAABMYXVuY2hwYWQuYXBwAAAACAAA
				AAEGAAAEAAAAGAAAAAgAAAAEAwAARgAAAAAAAAAIAAAA
				BAMAACBBAAAAAAAACAAAAAEGAABAAAAAUAAAAAgAAAAA
				BAAAQbtsQPkAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAA
				AAAAAAAAAAAAAAAAAAABBQAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAPwn
				OgAAAAgAAAAABAAAQbxHW80AAAAkAAAAAQEAAEU1RkJB
				MjIxLTMwNkEtMzRBNi05MkQ5LUNEOEYwQkY3RDUwRRgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAApgAAAAECAAA1MmJhYWI3OTRjYzExOGE1
				ZGQ3MTZlNzQzM2Q0MzlhMTExZDRjN2FhOzAwMDAwMDAw
				OzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMWE7Y29tLmFw
				cGxlLmFwcC1zYW5kYm94LnJlYWQ7MDAwMDAwMDE7MDEw
				MDAwMDQ7MDAwMDAwMDAwMDAwNDEyMDsvYXBwbGljYXRp
				b25zL2xhdW5jaHBhZC5hcHAAAAC0AAAA/v///wEAAAAA
				AAAADgAAAAQQAAAwAAAAAAAAAAUQAABgAAAAAAAAABAQ
				AACAAAAAAAAAAEAQAABwAAAAAAAAAAIgAAA4AQAAAAAA
				AAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAA
				AAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAY
				AQAAAAAAADAgAACgAAAAAAAAAAHQAACgAAAAAAAAAIHw
				AABEAQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.launchpad.launcher</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Launchpad.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Launchpad</string>
				<key>file-mod-date</key>
				<integer>3541652467</integer>
				<key>file-type</key>
				<integer>169</integer>
				<key>parent-mod-date</key>
				<integer>3548241449</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>36464970</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaxADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAMAIAAAwAAAABAQAAQXBwbGlj
				YXRpb25zCQAAAAEBAABVdGlsaXRpZXMAAAAUAAAAAQEA
				AEFjdGl2aXR5IE1vbml0b3IuYXBwDAAAAAEGAAAEAAAA
				GAAAACwAAAAIAAAABAMAACQCAAACAAAACAAAAAQDAAAZ
				KwEAAgAAAAgAAAAEAwAAHCsBAAIAAAAMAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQb8ynBwAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAGBGZDoAAAAIAAAAAAQAAEG8R1vNAAAAJAAAAAEB
				AABFNUZCQTIyMS0zMDZBLTM0QTYtOTJEOS1DRDhGMEJG
				N0Q1MEUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAsQAAAAECAAAz
				YWQxYmExM2Y1OWY1ODM5N2VjOWQ0NThhOTgzN2IxY2Y3
				ZGQ4OTk2OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAw
				MDAwMDAwMWE7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJl
				YWQ7MDE7MDEwMDAwMDQ7MDAwMDAwMDIwMDAxMmIxYzsv
				YXBwbGljYXRpb25zL3V0aWxpdGllcy9hY3Rpdml0eSBt
				b25pdG9yLmFwcAAAAACoAAAA/v///wEAAAAAAAAADQAA
				AAQQAABIAAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAA
				AAAAAEAQAACgAAAAAAAAAAIgAABgAQAAAAAAAAUgAADQ
				AAAAAAAAABAgAADgAAAAAAAAABEgAAAUAQAAAAAAABIg
				AAD0AAAAAAAAABMgAAAEAQAAAAAAACAgAABAAQAAAAAA
				ADAgAABsAQAAAAAAAIHwAAB0AQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.ActivityMonitor</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Utilities/Activity%20Monitor.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Activity Monitor</string>
				<key>file-mod-date</key>
				<integer>95124248311258</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>220597423923284</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1625773921</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va+ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAIAAAwAAAABAQAAQXBwbGlj
				YXRpb25zFgAAAAEBAABTeXN0ZW0gUHJlZmVyZW5jZXMu
				YXBwAAAIAAAAAQYAAAQAAAAYAAAACAAAAAQDAAAkAgAA
				AgAAAAgAAAAEAwAAbiUBAAIAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBvyUyjgAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAYEZk
				OgAAAAgAAAAABAAAQbxHW80AAAAkAAAAAQEAAEU1RkJB
				MjIxLTMwNkEtMzRBNi05MkQ5LUNEOEYwQkY3RDUwRRgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACpAAAAAQIAADhiYWM4MDJl
				MGJhMzgwNGMwMzQ5MzhhNjBmNDM4NGM4YmI0OWEwM2I7
				MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAx
				YTtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZDswMTsw
				MTAwMDAwNjswMDAwMDAwMjAwMDEyNTZlOy9hcHBsaWNh
				dGlvbnMvc3lzdGVtIHByZWZlcmVuY2VzLmFwcAAAAACo
				AAAA/v///wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQ
				AABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAA
				AAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAA
				AAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADc
				AAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAAIHw
				AABMAQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.systempreferences</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/System%20Preferences.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>System Preferences</string>
				<key>file-mod-date</key>
				<integer>180297748896971</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>239619839497471</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>1625773923</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>book</key>
				<data>
				Ym9va0QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAANAIAAAUAAAABAQAAVXNlcnMA
				AAAMAAAAAQEAAGJyaWFuZ2Vyc3RsZQkAAAABAQAARG93
				bmxvYWRzAAAADAAAAAEGAAAEAAAAFAAAACgAAAAIAAAA
				BAMAAKMsBgAAAAAACAAAAAQDAAABYwkAAAAAAAgAAAAE
				AwAABGMJAAAAAAAMAAAAAQYAAFAAAABgAAAAcAAAAAgA
				AAAABAAAQbtN3KUAAAAYAAAAAQIAAAIAAAAAAAAADwAA
				AAAAAAAAAAAAAAAAAAAAAAABBQAACAAAAAQDAAABAAAA
				AAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
				AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAGBGZDoA
				AAAIAAAAAAQAAEG8R1vNAAAAJAAAAAEBAABFNUZCQTIy
				MS0zMDZBLTM0QTYtOTJEOS1DRDhGMEJGN0Q1MEUYAAAA
				AQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAAB
				AQAALwAAAKgAAAABAgAANGY3YTUwOGZkZDI1NDY1M2U0
				MjcyNjQxOTUwZmVmYjBjNGU3NmEyYzswMDAwMDAwMDsw
				MDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBs
				ZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAxOzAxMDAw
				MDA2OzAwMDAwMDAwMDAwOTYzMDQ7L3VzZXJzL2JyaWFu
				Z2Vyc3RsZS9kb3dubG9hZHMA2AAAAP7///8BAAAAAAAA
				ABEAAAAEEAAAPAAAAAAAAAAFEAAAgAAAAAAAAAAQEAAA
				pAAAAAAAAABAEAAAlAAAAAAAAAACIAAAeAEAAAAAAAAF
				IAAA6AAAAAAAAAAQIAAA+AAAAAAAAAARIAAALAEAAAAA
				AAASIAAADAEAAAAAAAATIAAAHAEAAAAAAAAgIAAAWAEA
				AAAAAAAwIAAAxAAAAAAAAAABwAAAzAAAAAAAAAARwAAA
				FAAAAAAAAAASwAAA3AAAAAAAAAAB0AAAxAAAAAAAAACA
				8AAAhAEAAAAAAAA=
				</data>
				<key>displayas</key>
				<integer>1</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/briangerstle/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>3548158022</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>parent-mod-date</key>
				<integer>3548281277</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>showAppExposeGestureEnabled</key>
	<true/>
	<key>tilesize</key>
	<real>35</real>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-br-corner</key>
	<integer>1</integer>
	<key>wvous-br-modifier</key>
	<integer>1048576</integer>
	<key>wvous-tr-corner</key>
	<integer>1</integer>
	<key>wvous-tr-modifier</key>
	<integer>1048576</integer>
</dict>
</plist>
