<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AKDeviceUnlockState</key>
	<false/>
	<key>AKLastCheckInAttemptDate</key>
	<date>2018-08-22T19:59:18Z</date>
	<key>AKLastCheckInSuccessDate</key>
	<date>2018-08-22T19:59:19Z</date>
	<key>AKLastEmailListRequestDateKey</key>
	<date>2018-07-28T19:30:53Z</date>
	<key>AKLastIDMSEnvironment</key>
	<integer>0</integer>
	<key>Apple Inc. AirPod Case</key>
	<string>1</string>
	<key>Apple Inc. AppleTV</key>
	<string>1</string>
	<key>Apple Inc. iPad</key>
	<string>1</string>
	<key>Apple Inc. iPhone</key>
	<string>1</string>
	<key>AppleActionOnDoubleClick</key>
	<string>Maximize</string>
	<key>AppleAntiAliasingThreshold</key>
	<integer>4</integer>
	<key>AppleLanguages</key>
	<array>
		<string>en-US</string>
	</array>
	<key>AppleLanguagesDidMigrate</key>
	<string>10.13.6</string>
	<key>AppleLocale</key>
	<string>en_US</string>
	<key>AppleMeasurementUnits</key>
	<string>Inches</string>
	<key>AppleMetricUnits</key>
	<false/>
	<key>AppleMiniaturizeOnDoubleClick</key>
	<false/>
	<key>ApplePressAndHoldEnabled</key>
	<false/>
	<key>AppleSpacesSwitchOnActivate</key>
	<true/>
	<key>AppleTemperatureUnit</key>
	<string>Fahrenheit</string>
	<key>Bose Corporation Bose SoundLink Mini II</key>
	<string>1</string>
	<key>InitialKeyRepeat</key>
	<integer>25</integer>
	<key>KeyRepeat</key>
	<integer>2</integer>
	<key>Microsoft Microsoft® 2.4GHz Transceiver v9.0</key>
	<string>1</string>
	<key>NSAutomaticCapitalizationEnabled</key>
	<false/>
	<key>NSAutomaticDashSubstitutionEnabled</key>
	<true/>
	<key>NSAutomaticPeriodSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticQuoteSubstitutionEnabled</key>
	<true/>
	<key>NSAutomaticSpellingCorrectionEnabled</key>
	<true/>
	<key>NSAutomaticTextCompletionEnabled</key>
	<true/>
	<key>NSLinguisticDataAssetsRequestTime</key>
	<date>2018-08-22T14:25:38Z</date>
	<key>NSLinguisticDataAssetsRequested</key>
	<array>
		<string>en</string>
		<string>en_US</string>
		<string>ru</string>
		<string>ru_US</string>
		<string>da</string>
		<string>fr</string>
		<string>es</string>
		<string>de</string>
		<string>it</string>
		<string>pt</string>
		<string>sv</string>
		<string>nl</string>
	</array>
	<key>NSNavPanelFileLastListModeForOpenModeKey</key>
	<integer>2</integer>
	<key>NSNavPanelFileLastListModeForSaveModeKey</key>
	<integer>1</integer>
	<key>NSNavPanelFileListModeForOpenMode2</key>
	<integer>2</integer>
	<key>NSNavPanelFileListModeForSaveMode2</key>
	<integer>1</integer>
	<key>NSNavPanelSidebarKeyForOpen</key>
	<array/>
	<key>NSNavPreviewExpanded</key>
	<true/>
	<key>NSPersonNameDefaultDisplayNameOrder</key>
	<integer>0</integer>
	<key>NSPersonNameDefaultShortNameFormat</key>
	<integer>0</integer>
	<key>NSPersonNameDefaultShouldPreferNicknamesPreference</key>
	<integer>0</integer>
	<key>NSPreferredWebServices</key>
	<dict>
		<key>NSWebServicesProviderWebSearch</key>
		<dict>
			<key>NSDefaultDisplayName</key>
			<string>Google</string>
			<key>NSProviderIdentifier</key>
			<string>com.google.www</string>
		</dict>
	</dict>
	<key>NSStatusItem Preferred Position Item-0</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-1</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-10</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-11</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-12</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-13</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-14</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-15</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-16</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-17</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-18</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-19</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-2</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-3</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-4</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-5</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-6</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-7</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-8</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position Item-9</key>
	<integer>1000</integer>
	<key>NSStatusItem Preferred Position com.apple.menuextra.airplay</key>
	<real>20106</real>
	<key>NavPanelFileListModeForOpenMode</key>
	<integer>2</integer>
	<key>NavPanelFileListModeForSaveMode</key>
	<integer>1</integer>
	<key>PKSecureElementAvailableFlags</key>
	<integer>1</integer>
	<key>SyncServicesServerWasActive</key>
	<true/>
	<key>WebAutomaticSpellingCorrectionEnabled</key>
	<true/>
	<key>Western Digital My Passport 0741</key>
	<string>1</string>
	<key>com.apple.finder.SyncExtensions</key>
	<dict>
		<key>dirMap</key>
		<dict>
			<key>com.getdropbox.dropbox.garcon</key>
			<array>
				<string>file:///Users/briangerstle/Movies/</string>
				<string>file:///Users/briangerstle/Documents/</string>
				<string>file:///Users/briangerstle/Downloads/</string>
				<string>file:///Users/briangerstle/Desktop/</string>
				<string>file:///Users/briangerstle/Dropbox/</string>
				<string>file:///Users/briangerstle/Music/</string>
				<string>file:///Users/briangerstle/Pictures/</string>
			</array>
		</dict>
	</dict>
	<key>com.apple.ink.framework</key>
	<dict>
		<key>backgroundOpacity</key>
		<real>0.80000000000000004</real>
		<key>endOfPhraseTimeout</key>
		<real>1.125</real>
		<key>gesturesEnabled</key>
		<integer>-1</integer>
		<key>gesturesTargeted</key>
		<integer>0</integer>
		<key>inkBarVisible</key>
		<true/>
		<key>inkMenuVisible</key>
		<false/>
		<key>inkPadEraserWidthMax</key>
		<real>5</real>
		<key>inkPadEraserWidthMin</key>
		<real>2</real>
		<key>inkPadFont</key>
		<integer>0</integer>
		<key>inkPadFrameSketchForPaste</key>
		<false/>
		<key>inkPadInputMode</key>
		<integer>1952807028</integer>
		<key>inkPadPenBrightMax</key>
		<real>1</real>
		<key>inkPadPenBrightMin</key>
		<real>0.01</real>
		<key>inkPadPenWidthMax</key>
		<real>3</real>
		<key>inkPadPenWidthMin</key>
		<real>1</real>
		<key>inkPadRect</key>
		<dict>
			<key>bottom</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>right</key>
			<integer>0</integer>
			<key>top</key>
			<integer>0</integer>
		</dict>
		<key>inkPadSketchBackColor</key>
		<dict>
			<key>b</key>
			<real>1</real>
			<key>g</key>
			<real>1</real>
			<key>r</key>
			<real>1</real>
		</dict>
		<key>inkPadSketchBackColorForPaste</key>
		<dict>
			<key>b</key>
			<real>1</real>
			<key>g</key>
			<real>1</real>
			<key>r</key>
			<real>1</real>
		</dict>
		<key>inkPadSketchBorder</key>
		<integer>4</integer>
		<key>inkPadSketchLinecolor</key>
		<dict>
			<key>b</key>
			<real>0.93000000000000005</real>
			<key>g</key>
			<real>0.88</real>
			<key>r</key>
			<real>0.84999999999999998</real>
		</dict>
		<key>inkPadTextBackColor</key>
		<dict>
			<key>b</key>
			<real>1</real>
			<key>g</key>
			<real>1</real>
			<key>r</key>
			<real>1</real>
		</dict>
		<key>inkPadTextLineColor</key>
		<dict>
			<key>b</key>
			<real>0.95999999999999996</real>
			<key>g</key>
			<real>0.82999999999999996</real>
			<key>r</key>
			<real>0.63</real>
		</dict>
		<key>inkPadToolBackColor</key>
		<dict>
			<key>b</key>
			<real>0.84999999999999998</real>
			<key>g</key>
			<real>0.84999999999999998</real>
			<key>r</key>
			<real>0.84999999999999998</real>
		</dict>
		<key>inkPadUseToolColor</key>
		<true/>
		<key>inkPadVisible</key>
		<false/>
		<key>inkServerPSN</key>
		<dict>
			<key>highLongOfPSN</key>
			<integer>0</integer>
			<key>lowLongOfPSN</key>
			<integer>0</integer>
		</dict>
		<key>inkSounds</key>
		<true/>
		<key>inkWindowVisible</key>
		<true/>
		<key>language</key>
		<integer>0</integer>
		<key>logAPIUse</key>
		<false/>
		<key>logCGInking</key>
		<false/>
		<key>logCoalescing</key>
		<false/>
		<key>logEventDisposition</key>
		<false/>
		<key>logEventProcessed</key>
		<false/>
		<key>logInkEvents</key>
		<false/>
		<key>logInputMethod</key>
		<false/>
		<key>logInstantMouser</key>
		<false/>
		<key>logMouseEvents</key>
		<false/>
		<key>logMoves</key>
		<false/>
		<key>logPhraseModifiers</key>
		<false/>
		<key>logPoints</key>
		<false/>
		<key>logReposts</key>
		<false/>
		<key>logRouteToInkPad</key>
		<false/>
		<key>logServerLaunch</key>
		<false/>
		<key>logStrokeModifiers</key>
		<false/>
		<key>logTabletEvents</key>
		<false/>
		<key>logThisProcess</key>
		<false/>
		<key>logToFile</key>
		<false/>
		<key>logging</key>
		<false/>
		<key>penBrightMax</key>
		<real>0.5</real>
		<key>penBrightMin</key>
		<real>0.0</real>
		<key>penToInkDistance</key>
		<real>6</real>
		<key>penToMouseTimeout</key>
		<real>0.45000000000000001</real>
		<key>penWidthMax</key>
		<real>2</real>
		<key>penWidthMin</key>
		<real>2</real>
		<key>prefsVersion</key>
		<integer>1</integer>
		<key>printPhrases</key>
		<false/>
		<key>printText</key>
		<false/>
		<key>proximityTermination</key>
		<true/>
		<key>recognitionEnabled</key>
		<true/>
		<key>recognizeEuropeanChars</key>
		<false/>
		<key>showCursorInProximity</key>
		<true/>
		<key>showCursorInking</key>
		<true/>
		<key>showCursorOutOfProximity</key>
		<true/>
		<key>userInkOnDemandButtonMask</key>
		<integer>0</integer>
		<key>userInkOnDemandMode</key>
		<integer>0</integer>
		<key>wordSpacing</key>
		<integer>500</integer>
	</dict>
	<key>com.apple.mouse.scaling</key>
	<real>1</real>
	<key>com.apple.sound.beep.flash</key>
	<integer>0</integer>
	<key>com.apple.sound.beep.volume</key>
	<real>0.49226322770118713</real>
	<key>com.apple.springing.delay</key>
	<real>0.5</real>
	<key>com.apple.springing.enabled</key>
	<true/>
	<key>com.apple.trackpad.forceClick</key>
	<true/>
	<key>com.apple.trackpad.scaling</key>
	<real>1</real>
</dict>
</plist>
